In [110]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [111]:
data = ""
data2 = ""

df_stats1 = pd.read_csv('stats1.csv')
df_stats2 = pd.read_csv('stats2.csv')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (52) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [112]:
# Reading data from stats1
with open('stats1.csv') as fp:
    data = fp.read()

In [113]:
# Reading data from stats2
with open('stats2.csv') as fp:
    data2 = fp.read()

In [114]:
# Merging both files to stats
data += "\n"
data += data2
 
with open ('stats.csv', 'w') as fp:
    fp.write(data)

In [115]:
df_clean = pd.read_csv('clean2.csv')
df_clean.drop('Unnamed: 0',inplace = True, axis = 1)
df_stats = pd.read_csv('stats.csv')
drop_cols = list(df_stats.columns)[2:]
df_stats.drop(drop_cols, inplace = True, axis = 1)
#df_stats[df_stats['id'] == 49375]
df_final = df_clean.set_index('matchid').join(df_stats.set_index('id'), how = 'left')
#df_final.drop('Unnamed: 0',inplace = True, axis = 1)
df_final = df_final.reset_index()
#df_final[df_final['matchid'] == 49375]
df_final = df_final.dropna()
df_final = df_final.reset_index(drop=True)
display (df_final)
df_final.to_csv('final_stats.csv')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,matchid,top2countered,top1countered,jg2countered,jg1countered,mid2countered,mid1countered,carry2countered,carry1countered,TOP1Tier,TOP2Tier,JUNGLE1Tier,JUNGLE2Tier,MID1Tier,MID2Tier,SUPPORT1Tier,SUPPORT2Tier,CARRY1Tier,CARRY2Tier,win
0,15,0,1,0,0,0,1,0,0,S,B,A,S,S,God,S,God,A,D,1
1,22,0,0,0,0,0,0,0,0,D,God,A,A,S,A,B,God,A,God,0
2,24,1,0,0,0,0,0,1,1,God,S,A,A,S,S,A,God,C,A,1
3,30,1,0,0,0,0,0,0,0,B,S,A,S,S,B,C,A,B,A,0
4,35,0,0,0,0,0,0,0,0,God,C,A,D,A,B,God,C,A,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62639,163538,1,0,0,0,0,0,0,0,C,A,B,B,S,B,God,S,A,B,0
62640,165850,0,0,0,0,0,0,0,0,D,God,B,B,C,S,S,B,God,C,0
62641,181848,0,0,0,0,0,0,0,1,A,God,B,B,B,B,God,A,A,A,0
62642,183169,0,0,0,0,0,0,0,0,God,God,B,B,God,S,S,S,B,A,0
62643,186410,1,0,0,0,0,0,0,0,B,B,B,A,S,B,S,A,A,B,1

In [117]:
# One hot encoding
df_final = pd.get_dummies(df_final)
df_final.drop(['win_0'], axis = 1)

,matchid,top2countered,top1countered,jg2countered,jg1countered,mid2countered,mid1countered,carry2countered,carry1countered,TOP1Tier_A,...,CARRY1Tier_D,CARRY1Tier_God,CARRY1Tier_S,CARRY2Tier_A,CARRY2Tier_B,CARRY2Tier_C,CARRY2Tier_D,CARRY2Tier_God,CARRY2Tier_S,win_1
0,15,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,24,1,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
3,30,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,35,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62639,163538,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
62640,165850,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
62641,181848,0,0,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
62642,183169,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62643,186410,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [119]:
del df_final['win_0']
display(df_final)

,matchid,top2countered,top1countered,jg2countered,jg1countered,mid2countered,mid1countered,carry2countered,carry1countered,TOP1Tier_A,...,CARRY1Tier_D,CARRY1Tier_God,CARRY1Tier_S,CARRY2Tier_A,CARRY2Tier_B,CARRY2Tier_C,CARRY2Tier_D,CARRY2Tier_God,CARRY2Tier_S,win_1
0,15,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,24,1,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
3,30,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,35,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62639,163538,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
62640,165850,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
62641,181848,0,0,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
62642,183169,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62643,186410,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [123]:
# Logistic Regression & Model Fitting

data_cols = list(df_final.columns)
print (data_cols)
target_cols = ['win_1']
np.random.seed(10)
X = df_final[data_cols]
Y = df_final[target_cols]
Y = np.ravel(Y)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
model_lr = LogisticRegression()
model_lr.fit(x_train,y_train)

['matchid', 'top2countered', 'top1countered', 'jg2countered', 'jg1countered', 'mid2countered', 'mid1countered', 'carry2countered', 'carry1countered', 'TOP1Tier_A', 'TOP1Tier_B', 'TOP1Tier_C', 'TOP1Tier_D', 'TOP1Tier_God', 'TOP1Tier_S', 'TOP2Tier_A', 'TOP2Tier_B', 'TOP2Tier_C', 'TOP2Tier_D', 'TOP2Tier_God', 'TOP2Tier_S', 'JUNGLE1Tier_A', 'JUNGLE1Tier_B', 'JUNGLE1Tier_C', 'JUNGLE1Tier_D', 'JUNGLE1Tier_God', 'JUNGLE1Tier_S', 'JUNGLE2Tier_A', 'JUNGLE2Tier_B', 'JUNGLE2Tier_C', 'JUNGLE2Tier_D', 'JUNGLE2Tier_God', 'JUNGLE2Tier_S', 'MID1Tier_A', 'MID1Tier_B', 'MID1Tier_C', 'MID1Tier_God', 'MID1Tier_S', 'MID2Tier_A', 'MID2Tier_B', 'MID2Tier_C', 'MID2Tier_God', 'MID2Tier_S', 'SUPPORT1Tier_A', 'SUPPORT1Tier_B', 'SUPPORT1Tier_C', 'SUPPORT1Tier_D', 'SUPPORT1Tier_God', 'SUPPORT1Tier_S', 'SUPPORT2Tier_A', 'SUPPORT2Tier_B', 'SUPPORT2Tier_C', 'SUPPORT2Tier_D', 'SUPPORT2Tier_God', 'SUPPORT2Tier_S', 'CARRY1Tier_A', 'CARRY1Tier_B', 'CARRY1Tier_C', 'CARRY1Tier_D', 'CARRY1Tier_God', 'CARRY1Tier_S', 'CARRY2Tier_A', 'CARRY2Tier_B', 'CARRY2Tier_C', 'CARRY2Tier_D', 'CARRY2Tier_God', 'CARRY2Tier_S', 'win_1']

LogisticRegression()

In [124]:
# Prediction

y_pred = model_lr.predict(x_test)
y_pred
print (y_pred)

[0 0 0 ... 0 0 0]

In [126]:
# Accuracy

acc = accuracy_score(y_test, y_pred)
acc

0.5032457167181015